<!DOCTYPE html>
<html>
<head>
   <title>ROLL</title>
   <style type="text/css">

.col4 {  /* "buttons" */
    width: 320px;
    border-style: solid;
    background-color: #fff;
    border-radius: 20px;
    display: block;
    font-family: "Times", serif;
    color: black; 
    font-weight: lighter;
    text-align: center;
    line-height: 25px;
    padding: 0px;
    
}

.mc {
    display: block;
    font-family: "Times", serif;
    font-weight: lighter;
    text-align: center;
    line-height: 25px;
    padding: 0px;
    /*background-color: #000;*/
    /* background-image: url("http://digitalart.io/wp-content/uploads/2014/07/dracula_s_castle_by_whendell-d7pjb9i.png");
    background-repeat: no-repeat;
    background-position: left top; */
}

:visited, :link {
    text-decoration: none;
    color: black;
}


</style>
</head>

    <body>
       <div class="mc">
            <p class="col4">Adjust Inventory</p>
            <p class="col4">Adjust Stats</p>
            <p class="col4">Adjust Level</p>
            <p class="col4">Adjust Gold</p>
        </div>
    </body>
</html>

| <%= link_to 'Back', campaign_home_url %> |